<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('accueil') }}">Accueil</a>
    </li>

    {% if app.user %}
        <span class="nav-link">{{ app.user.username }}</span>
        <a class="nav-link" href="{{ path('membre',{'nom':app.user.nom}) }}">Espace Membre</a>
        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('inscription') }}">Inscription</a>
        </li>
    {% endif %}
</ul>
